.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
}

/* Navbar links */
.navbar .nav-link {
    color: #1a2c5b;
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #0056b3;
}

